
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: rgb(59, 59, 59);
    margin: 0;
}

.logo {
    margin: 12px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 40%;
}

#pageheader {
    font-weight: 700;
    display: flex;
    background-color: #2C2C2C;
    padding: 18px;
}


.headertext {
    color: white;
    font-size: 3.4em;
    font-family: sans-serif;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    margin: auto;
}


.header {
    color: #f79220;
    font-size: 2.5em;
    font-weight: 700;
}

.tube-line {
    animation: slide-down 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slide-down {
    from {
        margin-top: 200px
    }
    to {
        margin-top: 0px
    }
}

@keyframes slide-right {
    from {
        margin-left: 200px
    }
    to {
        margin-left: 0px
    }
}

@keyframes rotate-down {
    from {
        transform: rotate3d(1, 0, 0, 360deg);
    }
    to {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}
.tube-wrapper {
    display: flex;
}
.tube-line {
    display: flex;
    flex-basis: auto;
    min-width: 40%;
    flex-grow: 1;
    margin: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 2.4em;
    margin: 10px;
    flex-wrap: wrap
}
.bakerloo {
    background-color: #B36305;
    color: white;
}

.central {
    background-color: #E32017;
    color: white;
}

.circle {
    background-color: #FFD300;
    color: black;
}
.district {
    background-color: #00782A;
    color: white;
}

.hammersmith-city {
    background-color: #F3A9BB;
    color: black;
}


.jubilee {
    background-color: #A0A5A9;
    color: black;
}

.metropolitan {
    background-color: #9B0056;
    color: white
}

.northern {
    background-color: black;
    color: white;
}
.overground {
    background-color: #EE7C0E;
    color: black;
}
.piccadilly {
    background-color: #003688;
    color: white;
}
.victoria {
    background-color: #0098D4;
    color: black;
}
.waterloo-city {
    background-color: #95CDBA;
    color: black;
}
.line-color {
    flex: 2;
}

.line-name {
    margin-right: 10px;
    padding: 10px;
    flex: 30;
}

.line-status {
    flex: 20%;
    padding: 8px;
}

.line-status.bad {
    color: red;
}

.line-status.degraded {
    color: orange
}

.line-status.good {
    color: greenyellow;
}

.tube-line .div {
    border: thin black solid;
}