<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if request.args.get('refresh') %}
    <meta http-equiv="refresh" content="10">
    {% endif %}
    <title>{{ loc }} Departures</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/depart.css">
    <style>
        .header {
            color: #{{ config.headercolor}};
        }
        .divider {
            background: linear-gradient(to right, #{{ config.grad1 }} 0%, #{{ config.grad2 }} 100%);
        }
    </style>
</head>
<body>
    <div class="pageheader"><span class="logowrap"><img class="logo" src="{{ config.logosrc }}" /> </span><span
            class="headertext">{% block pageheader %}{% endblock %}</span></div>
    <div class="divider"> </div>
    <div class="depart-wrapper">
        {% block departures %}{% endblock %}
    </div>
</body>
</html>