<!doctype html>
<html lang="en">
<head>
    <meta charset="utxf-8">
    <title>Tube Status</title>
    <link rel="stylesheet" type="text/css" href="/css/tube.css">
    <style>
        .header {
            color: #{{ config.headercolor}};
        }
        .divider {
            background: linear-gradient(to right, #{{ config.grad1 }} 0%, #{{ config.grad2 }} 100%);
        }
    </style>
</head> 
<body>
    <div id="pageheader"><span class="logowrap"><img class="logo" src="{{ config.logosrc }}" /> </span><span class="headertext">{% block pageheader %}{% endblock %}</span></div>
    <div class="divider"> </div>
    <div id="tube-wrapper">
        {% for line in lines %}
        <div class="tube-line">
            <div class="line-color {{ line.id }} )">
            <div class="line-name">{{ line.name }}</div> </div>
            <div class="line-status {{ line.statuscode}}">{{ line.status }}</div>
            {% if line.disrupted %}<div class="disruption"> {{ line.disrupted }}</div>{% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>