  {% extends "help.html" %}
  {% block title %}Local Travel Info{% endblock %}
  {% block head %}
      {{ super() }}
  {% endblock %}
  {% block content %}
  <h2>Train Departures</h2>
URL format <code>/train/depatures/&lt;station&gt;</code> where &lt;station&gt; is a NaPTAN code for a UK railway station.
Useful links for railway stations:
<ul>
    {% for name,crs in stops.items() %}
    <li><a href="{{ crs }}">{{ name }}</a></li>
    {% endfor %}
</ul>
Additional station codes can be found <a href="https://www.nationalrail.co.uk/stations_destinations/48541.aspx">here</a>
{% endblock %}